#pnl_left {
   display: inline-block;
   width: 500px;
   text-align: center;
}

#hourly_pnl {
   display: inline-block;
   width: 800px;
}

#weekly_pnl {
   display:inline-block;
}

.row {
   white-space: nowrap;
   overflow: auto;
   min-width: 100%;
   padding-top: 10px;
}

.date_pnl {
   padding-top: 35px;
   float: right;
   font-weight:bold;
}

#header {
  height: 55px;
  display:block;
  border-bottom: 1px solid black;
}

#hourly_img {
  width:800px;
  height:376px;
}

#weekly_img {
  width: 522px;
  height:376px;
}

#header h1 {
  display: inline;
  text-shadow: 1px 1px 1px #999999;
}

h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 31px;
   font-weight:bold;
}

html, body {
  height:100%;
}

.wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -4em;
}

.footer, .push {
   height: 4em;
}

.footer {
   text-align:center;
   background: linear-gradient(to bottom, #ffffff, #bfbfbf);
   font-weight:bold;
}