<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Email Traffic Forecasts</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      <img src="../static/icon_50.png" />
      <h1>Email Traffic Predictor</h1>
      <div class="date_pnl">
         {{ today_date }}
      </div>
    </div>
    <div class ="wrapper">
      <div class="row">
        <div id="hourly_pnl">
          <h1>Today's Forecast</h1>
          <img id="hourly_img" src="hrly_plt.png" alt="Hourly Forecast" />
        </div>
        <div id = "weekly_pnl">
          <h1>Weekly Forecast</h1>
          <img id="weekly_img" src="wkly_plt.png" alt="Weekly Forecast"/>  
        </div>
      </div>
      <div class="push"></div>
    </div>
    <div class="footer">
      A Galvanize Capstone Project
    </div>
  </body>
</html>